---
import { Icon } from "astro-icon/components";
---

<!-- There can't be a filter on parent element, or it will break `fixed` -->
<div class="back-to-top-wrapper hidden lg:block">
    <div id="jump-to-comments-btn" class="back-to-comments-btn flex items-center rounded-2xl overflow-hidden transition" onclick="jumpToComments()">
        <button aria-label="Jump to Comments" class="btn-card h-[3.75rem] w-[3.75rem]">
            <Icon name="material-symbols:chat-rounded" class="mx-auto"></Icon>
        </button>
    </div>
    <div id="back-to-top-btn" class="back-to-top-btn hide flex items-center rounded-2xl overflow-hidden transition" onclick="backToTop()">
        <button aria-label="Back to Top" class="btn-card h-[3.75rem] w-[3.75rem]">
            <Icon name="material-symbols:keyboard-arrow-up-rounded" class="mx-auto"></Icon>
        </button>
    </div>
</div>

<style lang="stylus">
.back-to-top-wrapper
    width: 3.75rem
    height: 3.75rem
    position: absolute
    right: 0
    top: 0
    pointer-events: none

.back-to-top-btn,
.back-to-comments-btn
    color: var(--primary)
    font-size: 2.25rem
    font-weight: bold
    border: none
    position: fixed
    opacity: 1
    cursor: pointer
    transform: translateX(5rem)
    pointer-events: auto
    i
        font-size: 1.75rem
    &.hide
        transform: translateX(5rem) scale(0.9)
        opacity: 0
        pointer-events: none
    &:active
      transform: translateX(5rem) scale(0.9)

.back-to-top-btn
    bottom: 10rem

.back-to-comments-btn
    bottom: 5.5rem

</style>

<script is:raw is:inline>
const COMMENTS_ANCHOR_ID = 'comments-section';

function backToTop() {
    window.scroll({ top: 0, behavior: 'smooth' });
}

function jumpToComments() {
    const commentsAnchor = document.getElementById(COMMENTS_ANCHOR_ID);
    if (!commentsAnchor) {
        return;
    }
    commentsAnchor.scrollIntoView({ behavior: 'smooth', block: 'start' });
}
</script>
